@use '../setting.scss' as *;

.animate-wrap {
  width: 100%;
  height: auto;
}

.animate-block {
  width: 100%;
  padding: vw(70);
}

.animate-block.--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animate-block.--black {
  background-color: $black;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: $white;
  border-radius: 50%;
  margin-bottom: 20px;
}

.rect {
  width: 100px;
  height: 100px;
  background-color: $white;
  margin-bottom: 20px;
}

.animate-block:nth-of-type(4) {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 100%;
  }
}

.animate-block:nth-of-type(4) .rect {
  width: 200px;
  height: 250px;
}

.animate-block:nth-of-type(4) .rect:nth-of-type(odd) {
  margin-right: auto;
  margin-left: 0;
  transform: rotate(45deg);
}

.animate-block:nth-of-type(4) .rect:nth-of-type(even) {
  margin-right: 0;
  margin-left: auto;
}

.animate-block__catch {
  font-size: vw(200);
  line-height: vw(200);
}

// 青背景
.animate-block__text {
  font-size: vw(20);
  line-height: vw(50);

  @include mq(mobile) {
    // font-size: spvw(20);
    // line-height: spvw(50);
  }
}

.animate-block__blue-bg-wrap {
  width: vw(500);
  height: vw(50);
  overflow-x: hidden;
  position: relative;
}

.animate-block__blue-bg {
  width: vw(500);
  height: vw(50);
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
}