@use '../../../styles/setting.scss' as *;

.header {
  width: 100%;
  height: vw(104);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  margin-bottom: vw(80);
  padding-top: vw(30);
  z-index: $z_index_level_6;

  @include mq(mobile) {
    display: none;
  }
}

.header__inner {
  display: flex;
  padding-top: vw(22);
  padding-bottom: vw(22);
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: vw(180); 
  height: vw(37);
  position: absolute;
  position: absolute;
  top: calc(50% + vw(30));
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}